html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.usa-sr-only {
  position: absolute;
  left: -999em;
}

.toolbar ul {
  display: block;
}

.toolbar ul li:before {
  display: none;
}
