html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.usa-sr-only {
  position: absolute;
  left: -999em;
}

.toolbar ul {
  display: block;
}

.toolbar ul li:before {
  display: none;
}

.tabs {
  border-bottom: 3px solid #0071bc;
  width: 100%;
}

.usa-tab {
  display: inline-block;
  margin-bottom: -1px;
  margin-right: 4px;
}

.usa-tab:before {
  content: '';
}

.usa-tab a {
  background-color: #5b616b;
  color: #fff;
  font-weight: 700;
  margin-bottom: .4rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  text-decoration: none;
}

.usa-tab a:hover {
  background-color: #4773aa;
}

.usa-tab a.active {
  background-color: #0071bc;
}

@media screen and (min-width: 600px) {
  form {
    max-width: initial;
  }
}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea,
select {
  max-width: initial;
}

.usa-alert-status {
  background-color: #E8F5FA;
  background-image: url("../assets/img/alerts/info.png");
  background-image: url("../assets/img/alerts/info.svg");
}

h6.usa-heading-alt {
  margin-top: 4rem;
}

.usa-heading-alt {
  border-bottom: 1px solid #5b616b;
  padding-bottom: .8rem;
}

.usa-sidenav-list .active {
  border-left: 4px solid #0071bc;
  color: #0071bc;
  font-weight: 700;
  padding-left: 1.4rem;
}
