{#
/**
 * @file
 * Override of system/menu.html.twig for a sidebar menu.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, 0) }}

{% macro menu_links(items, menu_level) %}
  {% import _self as menus %}

  {% if items %}

    {% if menu_level == 0 %}
      <ul class="usa-sidenav-list">
    {% else %}
      <ul class="usa-sidenav-sub_list">
    {% endif %}

    {% for item in items %}
      <li>
        <a href="{{ item.url }}"{% if item.in_active_trail %} class="usa-current"{% endif %}>
          <span>{{ item.title }}</span>
        </a>

        {% if item.in_active_trail and item.below and menu_level < 3 %}
          {{ menus.menu_links(item.below, menu_level + 1) }}
        {% endif %}

      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
