////////////////////////////////////////////////////////////////////////////////
//
//  #Mixins
//
//  If we can't immediately control some markup to add the classes we need, our
//  last resort is to add the style to the element as a mixin.
//
////////////////////////////////////////////////////////////////////////////////

@mixin usa-current {
  border-left: 4px solid $color-primary;
  color: $color-primary;
  font-weight: 700;
  padding-left: 1.4rem;
}
